body {
  background-color: rgb(236, 234, 234);
}

header {
  box-shadow: 0px 3px 10px #242222;
}

.navPanel {
  height: 100vh;
  transition: all 1s;
  position: fixed;
}
.nav-link ~ ul {
  display: none;
}

.nav-link ~ ul li {
  padding: 5px;
}

li,
section a {
  color: white;
  list-style: none;
}

.main .d-flex {
  border-radius: 5px;
}

.main .d-flex i {
  color: rgba(252, 252, 252, 0.3);
}

.flash {
  display: none;
  justify-content: center;
}
#message {
  padding: 13px 5px 5px;
  font-size: 14px;
}

#err {
  display: none;
  text-align: center;
  color: red;
}

#feedback {
  display: none;
}
.smallSidebar {
  display: block !important;
  z-index: 2;
  width: 70%;
}
#menu {
  display: none;
}

#overflow {
  overflow-x: auto;
}
@media (max-width: 766px) {
  .srmsadmin {
    display: none;
  }
}
@media (max-width: 991px) {
  .navPanel {
    display: none;
  }
  #menu {
    display: block;
  }
}

/* Before making content editable */
.unclick {
  cursor: not-allowed;
}

.change-cursor {
  cursor: auto;
}
/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0078ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ===================End =================================*/
